.header {
  background-color: $pblack;
  max-width: 1440px;
  height: 80px;
  margin: 0 auto;
  color: $twhite;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px 28px;

  #user {
    width: 174px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  p {
    font: normal 700 21px/44px "Roboto";
  }

  img:first-child {
    width: 172.73px;
    height: 38px;
  }

  img:last-child {
    width: 12px;
    height: 12px;
  }
}
