$text-darkMode: #c84b31;
$bg-darkMode: #161616;
$textw-darkMode: #f7f7f7;

$bg-body: #e5e5e5;
$pblack: #020202;
$twhite: #ffffffde;
$border: #bdbdbd;
$black: #000000de;
$opacityblack: #00000099;
$innerborder: #565656;
$orange: #ff9747;

$mobile: 480px;
$tablet: 768px;
